<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../js/map.js"></script>
</head>

<body>
    <nav class="navbar">
        <img src="../../images/logo.jpg" height="75" width="75" alt="">
        <ul class="nav-links">
            <li onclick="home()">Home</li>
            <li onclick="about()">About</li>
            <li onclick="service()">Chatbot</li>
            <li onclick="report()">Report</li>
            <li onclick="contact()">Contact</li>
        </ul>
    </nav>
    <div class="bg-blue-100 p-8">
        <div class="max-w-7xl mx-auto text-center">
            <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome to our HomeoRemedy</h1>
            <p class="text-lg text-gray-700">
                We strive to provide the best possible service to our customers. Our mission is to make sure that everyone who visits our website has a positive experience.
            </p>
        </div>
    </div>
    <section class="bg-white py-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">Our Services</h2>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/3 px-4 mb-8">
                    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                        <div class="p-4">
                            <h3 class="text-xl text-center font-bold text-gray-800 mb-2">Chatbot</h3>
                            <p class="text-gray-700">Chatbot Suggesting Medicines for specific symptoms.</p>
                            <p class="text-gray-700">Suggesting more than one remedy.</p>
                            <br/>
                            <div class="text-center">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="service()">
                                Try it
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-4 mb-8">
                    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                        <div class="p-4">
                            <h3 class="text-xl text-center font-bold text-gray-800 mb-2">Report Generation</h3>
                            <p class="text-gray-700">Provides a report after diagnosis of the patients.</p>
                            <p class="text-gray-700">Effortlessly generate a medical report with our app.</p>
                            <div class="text-center">
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="report()">
                                    Try it
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-4 mb-8">
                    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                        <div class="p-4">
                            <h3 class="text-xl text-center font-bold text-gray-800 mb-2">Discussion Portal</h3>
                            <p class="text-gray-700">provides a platform for doctors to ask questions, share experiences, and discuss current trends and practices in their field.</p>
                            <br/>
                            <div class="text-center">
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="report()">
                                    Try it
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex flex-wrap -mx-4">
                <div id="map"></div>
            </div>
        </div>
    </section>
    <ul id="result-list"></ul>

    <footer>
        <div class="row primary">
            <div class="column about">
                <h3>Connect</h3>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> VESIT, Chembur, Mumbai
                </p>
                <!-- details to be adeed -->
            </div>

            <div class="column link">
                <h3>Links</h3>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#blogs">Blogs</a></li>
                    <li><a href="#support">Support</a></li>
                </ul>
            </div>

            <div class="column subscribe">
                <h3>Newsletter</h3>
                <div>
                    <input type="email" placeholder="Your email id here" />
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </footer>
</body>
<script>
    function login() {
        window.location.href = "login.html";
    }
    function signUp() {
        window.location.href = "signup.html";
    }
    function service() {
        window.location.href = "service.html";
    }
    function about() {
        window.location.href = "about.html";
    }
    function contact() {
        window.location.href = "contact.html";
    }
    function home() {
        window.location.href = "index.html";
    }
    function report() {
        window.location.href = "detail.html";
    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_B78xcbPZnHi79nSv3OSgx-kyM80OIz4&callback=initMap&libraries=places"></script>    

</html>